.lightbox {
  --yarl__color_backdrop: rgba(255, 255, 255, 1);
  --yarl__thumbnails_thumbnail_background: rgba(255, 255, 255, 1);
  --yarl__thumbnails_thumbnail_border_color: var(--button-color);
  --yarl__thumbnails_thumbnail_active_border_color: var(--first-color);
  --yarl__thumbnails_thumbnail_active_border_color: var(--first-color);
  --yarl__color_button: var(--button-color);
  --yarl__color_button_active: var(--first-color);
  --yarl__icon_size: 3rem;
}

.lightbox :global(.yarl__thumbnails_thumbnail_active) {
  border-width: 1.5px;
}

.slide_container {    
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.image_container {    
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  
  justify-content: center;
  align-items: center;
}

.description_container {
  width: 30%;
  height: 100%;
  padding: 2rem;
}

.description_container h2 {
  word-break: break-word;
}
