/* mobile */
@media screen and (max-width: 600px) {
  .header {
    position: relative;
    top: 0;
  }
  .nav {
    height: var(--header-height);
    flex-direction: row;
  }
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 6%, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 60%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
  }
  .nav__list {
    flex-direction: column;
    row-gap: 1.5rem;
  }
}

/* PC */
@media screen and (min-width: 600px) {
  .header {
    position: sticky;
    top: calc(var(--header-height) * -1);
  }
  .nav {
    height: calc(var(--header-height) + 1rem);
    flex-direction: column;
    row-gap: 2.5rem;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
 
  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
}

.header {
  width: 100%;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
}
   
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 1.5rem;
}

.nav__logo {
  height: var(--header-height);
}

.nav__toggle, 
.nav__close {
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.nav__cta {
  background-color: var(--first-color);
  color: var(--title-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.75rem 1.5rem;
}

.nav__list {
  display: flex;
}

.nav__link {
  color: var(--title-color);
  font-family: var(--body-font-font-family);
  font-style: var(--body-font-font-style);
  font-size: 1.5rem;
  transition: color 0.4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show-menu {
  right: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


