
.game_container {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.game_replacement {
    width: 980px;
    display: flex;
    justify-content: center;
    border: 1px solid var(--title-color);
    
}

.content_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.p_container {
    max-width: 980px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
